#navbar {
    position:fixed;
    top:0;
    background-color:white;
    width:100%;
    margin:0;
    z-index:10;
}

.content {
    margin-top:200px;
}

#header-img{
    margin: auto;
}

#spooky {
    margin: auto;
    max-width:50%;
}

#notAScam{
    max-width:33.33%;
    z-index:2;
}

summary:focus{
    outline:none;
}

details {
    padding:0.1vw;
}

.hiddenText{
    padding:0 1vw 1vh 1vw;
    color:white;
    background-color:black;
}

#features{
    padding-top: 35vh;
}

#history{
    padding-top: 35vh;
}

#pricing {
    padding-top: 35vh;
}

@media (max-width:575px) {
    #features{
        padding-top: 80vh;
    }
    #history{
        padding-top: 40vh;
    }
    
    #pricing {
        padding-top: 0vh;
    }

    .content {
        margin-top:38vh;
    }
}

@media screen and (min-width:575px) and (max-width:900px) {
    
    #history{
        padding-top: 25vh;
    }

    .content {
        margin-top:25vh;
    }
}

@media screen and (min-width:901px) {
    #features{
        padding-top: 40vh;
    }
    
    #history{
        padding-top: 25vh;
    }
    
    #pricing {
        padding-top: 25vh;
    }
}