#navbar {
    position:fixed;
    top:0;
    background-color:white;
    width:100%;
    margin:0;
    z-index:10;
}

.content {
    margin-top:200px;
}

#header-img{
    margin: auto;
}

#spooky {
    margin: auto;
    max-width:50%;
}

#notAScam{
    max-width:33.33%;
    z-index:2;
}

summary:focus{
    outline:none;
}

details {
    padding:0.1vw;
}

.hiddenText{
    padding:0 1vw 1vh 1vw;
    color:white;
    background-color:black;
}

#features{
    padding-top: 35vh;
}

#history{
    padding-top: 35vh;
}

#pricing {
    padding-top: 35vh;
}